/* 
 * VARS
*/
/* 
 * BOX MODEL
*/
* {
  box-sizing: border-box; }
  *::after {
    box-sizing: border-box; }
  *::before {
    box-sizing: border-box; }

/* 
 * CLEARFIX PLACEHOLDER
*/
/* 
 * GENERAL
*/
body {
  background: pink;
  color: #333; }

h1, h2, h3 {
  margin: 0; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1em; }

header, footer {
  background: #2b7bb8;
  color: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px; }

header {
  margin-top: 0; }

footer {
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

.main-wrapper {
  max-width: 66%;
  margin: 1em auto;
  padding: 1em;
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #888888;
  transition: all 0.3s ease-in-out; }
  @media (max-width: 480px) {
    .main-wrapper {
      max-width: 100%; } }

a {
  color: white;
  margin-right: 5px; }
  a:hover {
    text-decoration: none; }

fieldset {
  margin: 1em 0;
  border-color: #2b7bb8; }

label {
  font-weight: bold; }

label + textarea {
  margin-top: 0.5em;
  width: 100%;
  background-color: pink; }

legend {
  color: #2b7bb8;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0.2em; }

input[type=submit] {
  border: none;
  background-color: #2b7bb8;
  padding: 10px;
  color: white;
  box-shadow: 2px 2px 5px #888888;
  cursor: pointer;
  border-radius: 10px; }
  input[type=submit]:hover {
    background-color: #4395d3;
    box-shadow: none;
    color: #333; }

.tweetp {
  color: green; }

.succ {
  color: green; }
  .succ::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 20px;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    transform: rotate(40deg);
    margin-right: 10px; }

.err {
  color: red; }
  .err::before {
    content: "X";
    display: inline-block;
    margin-right: 10px; }
